body {background-color: #FFF4ED;}

h1 {color: red;
font-family: monospace;
background-color:#50ff24;}

/*th {
text-align: center;}*/

thead {text-align: center;
   }

th, td, tr {border: 5px solid blueviolet;
    }

code {background-color:#ff808a;
   border-radius: 10px;
   display: inline-block;
padding: 10px;
width: auto;}

caption {color: #f5149e;
font-family: 'Turret Road', sans-serif;
font-size: 2em;}

#gun-knife-dusters {max-width: 50%;
text-align: left;
margin: 30px;}

ul.checkbox-list {list-style-type: none;
list-style-position: outside;}
li.checkbox-list {list-style-type: none;
   list-style-position: outside;}

.my-cool-form {display: flex;
   flex-direction: column;
   justify-content: space-around;
   max-width: 700px;
   
 }
 
 .input-div {display: inline-block;
margin: 1em;
height: 100px;}

 .form-label {
} 
.form-input{float: right;
width: 30%;}

.form-button {width: 40%;}
table {border-collapse: collapse;}
td, th {padding: 5px;}